.flexRow--home--benefits--container{
    background-color: #004793;
}

.flexRowContent--home--benefits--container .stretchChildrenWidth:first-child{
    width: 25% !important;
}

.flexRowContent--home--benefits--container .stretchChildrenWidth:last-child{
    width: 71% !important;
}

.flexRowContent--home--benefits--container .flexRowContent--home--benefits--content .stretchChildrenWidth{
    width: 25% !important;
}

