.homeIcon--breadcrumbPdp {
  display: none;
}

.caretIcon--breadcrumbPdp {
  display: none;
}

.arrow--breadcrumbPdp::before {
  content: "|";
  font-size: 1rem;
  color: black;
  width: 18px;
  height: 18px;
}

.homeLink--breadcrumbPdp::after {
  content: url(assets/images/Home/breadcrumb.png);
  width: 18px;
  height: 18px;
  margin-right: 20px;
}

.link--breadcrumbPdp, .term--breadcrumbPdp{
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  color: #000000;
  text-transform: capitalize;
}

.link--breadcrumbPdp:hover{
  color: #000000;
  outline: none;
}

.term--breadcrumbPdp, .termArrow--breadcrumbPdp {
  display: none;
}

@media screen and (min-width: 426px) and (max-width: 1024px) {
  .link--breadcrumbPdp, .term--breadcrumbPdp{
    font-size: 16px;
  }
}

@media screen and (max-width: 425px)  {
  .link--breadcrumbPdp, .term--breadcrumbPdp{
    font-size: 13.6297px;
  }
}

@media screen and (min-width: 1920px)  {
  .link--breadcrumbPdp, .term--breadcrumbPdp{
    font-size: 20px;
  }
}


@media screen and (max-width: 320px){
  .homeLink--breadcrumbPdp::after {
    margin-right: 0;
  }

  .link--breadcrumbPdp{
    font-size: 10.9px;
  }
}
