.product-identifier--skuReferenceId{
    font-size: 15px;
    color: #6A6A6A;
    font-family: Rubik;
}

@media (max-width: 768px){
    .product-identifier--skuReferenceId{
        color: #000;
        margin-bottom: 30px;
    }

    .product-identifier__separator,
    .product-identifier__label{
        font-weight: bold;
    }
}