.listItem--product-specification :global(.vtex-button__label),
.listItem--product-description :global(.vtex-button__label) {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
}

.listItemActive--product-specification :global(.vtex-button),
.listItemActive--product-description :global(.vtex-button) {
  background-color: #000000;
  border: #000000;
}

.listItem--border {
  border-right: none !important;
}

.listItemActive--product-specification :global(.vtex-button__label),
.listItemActive--product-description :global(.vtex-button__label) {
  color: #ffffff;
}

.listItem---product-specification :global(.vtex-button):hover {
  background-color: transparent !important;
}

.listItem--product-specification,
.listItem--product-description {
  padding: 0;
  margin: 0;
}

.listItem--product-description :global(.vtex-button):hover,
.listItem--product-specification :global(.vtex-button):hover {
  background-color: transparent !important;
}

.listItemActive---product-specification :global(.vtex-button):hover {
  background-color: #000000;
}

.listContainer--product-specification {
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px 4px 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.listItem--product-specification,
.listItem--product-description {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  width: 33.33%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 49px;
}

.listItemActive--product-description,
.listItemActive--product-specification {
  background-color: #000000;
}

.listItemActive--product-description {
  border-radius: 4px 0px 0px 0px;
}

.contentContainer--product-specification {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: #FFFFFF;
  border-top: 0;
}

@media screen and (max-width: 450px) {
  .listItem--product-specification :global(.vtex-button__label),
  .listItem--product-description :global(.vtex-button__label) {
    font-weight: 500;
    font-size: 14px;
  }
}

@media screen and (min-width: 300px) and (max-width: 1024px){
  .listItem--product-specification,
  .listItem--product-description {
    width: 50%;
  }

  .listItem--product-specification,
  .listItem--product-description,
  .listItem--border-425 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  .listContainer--product-specification .listItem:nth-child(3n){
    border-bottom: none;
  }

  .contentItem--product-specification {
    padding: 10px;
  }
}

@media screen and (min-width: 1920px) {
  .listItem--product-specification :global(.vtex-button__label),
  .listItem--product-description :global(.vtex-button__label) {
    font-size: 18px;
  }
}
