.sellingPrice--hasListPrice,
.listPrice--product--price--list {
  display: flex;
  justify-content: flex-end;
}

.sellingPriceValue--product--price--selling {
  font-family: 'Rubik';
  font-weight: 600;
  font-size: 24px;
  color: #000000;
}

.savings--discountpdp2{
  background-color: #fff;
  border-left: 2px solid #F32820;
  padding: 8px 20px;
  color: #F3281FFF;
  font-size: 13.5px;
  font-family: "Rubik";
}

.listPrice--product--price--list{
  font-size: 16px;
  color: #6A6A6A;
  font-family: "Rubik";
}

@media (max-width: 768px){
  .sellingPrice--product--price--selling,
  .listPrice--product--price--list{
    justify-content: flex-start;
  }

  .listPriceValue--product--price--list{
    display: flex;
    align-items: center;
    font-size: 14px;
/*     letter-spacing: 2px; */
  }

  .sellingPriceValue--product--price--selling{
    font-weight: 400;
    /* letter-spacing: 2px; */
    margin-right: 10px;
  }
}


@media (min-width: 1920px){
  .savings--discountpdp2{
    font-size: 18px;
  }

  .sellingPriceValue--product--price--selling {
    font-size: 32px;
  }

  .listPrice--product--price--list{
    font-size: 20px;
  }
}

@media (max-width: 1024px) {
  .sellingPriceValue--product--price--selling {
    font-size: 22px;
  }

  .listPrice--product--price--list{
    font-size: 18px;
  }
}
