.paragraph--title-brands{
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  color: #000000;
}

.paragraph--title-slider--pdp {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  color: #000000;
}

