.product-identifier--skuReferenceId{
    font-size: 16px;
    color: #6A6A6A;
    font-family: Rubik;
}

@media (max-width: 768px){
    .product-identifier--skuReferenceId{
        color: #000;
        margin-bottom: 30px;
    }

    .product-identifier__separator,
    .product-identifier__label{
        font-weight: bold;
    }
}

@media (min-width: 1920px){
  .product-identifier--skuReferenceId{
    font-size: 20px;
}
}

@media (max-width: 1024px){
.product-identifier--skuReferenceId{
  font-size: 18px;
}
}
