.productNameContainer  {
  font-family: 'Mulish';
  font-weight: 700;
  font-size: 20px;
  color: #000000;
}

.skuSelectorSubcontainer--size{
  margin-top: 20px;
}

.skuSelectorName{
  font-family: Rubik;
  font-size: 15px;
  font-weight: 500;
  color: #000000;
}

.skuSelectorItem{
  width: 36px;
}

.frameAround--product--sku-selector{
  border-radius: 50px;
}

.skuSelectorItemTextValue--product--sku-selector{
  padding: 0;
}

.skuSelectorInternalBox--product--sku-selector{
  border: none;
}

.skuSelectorItem--product--sku-selector--selected .frameAround--product--sku-selector{
  border-color: #4AA358;
}

.productDescriptionText--product--disclosures--description-content{
  width: 90%;
  margin: 0 auto;
}

.content--product--disclosures--description-content{
  color: #000000;
  font-family: Rubik;
  font-size: 16px;
}

.showMoreButton--product--disclosures--description-content{
  font-size: 14px;
  background-color: #000000;
}

@media (max-width: 768px)  {
  .productNameContainer{
    margin-bottom: 7px;
  }
}
