.brandContainer {
  padding-inline: 5px;
  height: 100px;
  width: 15%;
  min-width: 15%;
  border: 1px solid black;
  border-right: 0;
  background: white;
  cursor: pointer;
}

@media (max-width: 700px) {
  .brandContainer {
    width: 25%;
    min-width: 25%;
    height: 70px;
  }
}

.brandContainer:last-child {
  border-right: 1px solid black;
}

.brandContainerSelected {
  background: #004793;
}

.imageElement {
  max-height: 30px;
}

.brandContainerSelected .imageElement {
  filter: invert(100%);
}

.mainBrandContainer {}


@media (min-width:800px) {
  .mainBrandContainer {
    justify-content: end;
  }
}
