/* Columna 1 */
.flexCol--container-footer-1-column-1 {
  background: #004793;
  padding: 65px 165px;
}

.flexRowContent--footer-1-social-network-row1 .stretchChildrenWidth,
.flexRowContent--footer-1-social-network-row2 .stretchChildrenWidth {
  align-items: center;
  width: auto !important;
}

.flexRowContent--container-row-social-networl-footer,
.flexRowContent--container-row-footer-information {
  border-bottom: 1px solid #3D7BBE;
}

.flexRowContent--footer-1-categories {
  margin-top: 20px;
}

/* Columna 2 */
.flexCol--container-footer-1-column-2 {
  background: #0955A6;
}

.flexColChild--container-footer-1-column-2 {
  min-width: 40%;
}

.flexRowContent--container-row-footer-information {
  align-items: center;
  justify-content: space-between;
}

.flexRowContent--container-footer-1-information {
  margin-top: 30px
}

/* Footer 2 */
.flexRowContent--container-footer-2 {
  background-color: #000;
  padding: 0 20px;
}

.flexCol--col-payments-texts-footer {
  width: 120px !important;
}

@media (max-width: 1024px) {
  .flexCol--container-footer-1-column-1{
    padding: 0 20px;
  }

  .flexRowContent--container-footer-2 {
    padding: 20px 0 0 !important;
  }

  .flexRowContent--payments-texts-footer-2 {
    border-top: 1px solid #2D2D2D;
    border-bottom: 1px solid #2D2D2D;
  }

  .flexCol--container-footer-1-column-2 {
    padding: 25px 0;
  }

}
