.label--link-social-network-footer {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}

.label--link-information-footer {
  font-size: 16px;
}

.link--link-information-footer {
  color: #fff;
  font-weight: 300;
  text-decoration: none;
}

.link--link-social-network-footer {

  text-decoration: none;
}

@media (max-width: 639px) {
  .label--link-social-network-footer {
    font-size: 18px;
  }

  .link--link-information-footer {
    font-size: 14px;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .label--link-social-network-footer {
    font-size: 14px;
  }
}

@media screen and (min-width: 300px) and (max-width: 375px) {
  .label--link-social-network-footer {
    font-size: 14px;
  }
}

@media screen and (max-width: 450px) {
.label--link-information-footer {
  font-weight: 300;
font-size: 18px;
}

.link--link-information-footer{
  margin-top: 30px;
  margin-bottom: 20px;
}
}

@media (min-width: 1920px) {
  .label--link-social-network-footer {
    font-size: 24px !important;
  }

  .label--link-information-footer {
    font-size: 18px !important;
  }
}
