.menuContainer--footer_menu {
  justify-content: space-between;
}

.styledLinkContainer--root-footer {
  margin: 0;
  padding: 0;
}

.menuContainer--footer_menu .styledLink--root-footer {
  font-size: 18px;
  color: #fff;
}

.styledLinkContent--root-footer {
  font-size: 14px;
  margin-right: 8px;
}

@media (max-width: 1024px) {
  .menuContainer--footer_menu {
    flex-wrap: wrap;
    justify-content: start;
    gap: 15px;
    margin-bottom: 15px;
  }

  .styledLinkContent--root-footer {
    font-size: 12px;
    margin-right: 4px;
  }
}

@media (max-width: 768px) {
  .styledLinkContent--root-footer {
    font-size: 14px;
    margin-right: 0;
  }
}


@media (max-width: 450px) {
  .styledLinkContent--root-footer {
    font-size: 16px;
  }

  .menuContainer--footer_menu {
    width: 90%;
  }
}

@media (max-width: 320px) {
  .menuContainer--footer_menu {
    width: 100% !important;
  }
}
