.container--footer-1-column-1a-headerTitle .paragraph--footer-1-column-1a-headerTitle {
  border-left: 1px solid #fff;
  color: #fff;
  font-size: 20px;
  padding-left: 25px;
}

.wrapper--text-social-network-footer .link {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  text-decoration: none;
}

.paragraph--text-footer2 {
  color: #fff;
}

.wrapper--footer-1-title-categories-column-1 .paragraph {
  color: #fff;
  font-weight: 400;
  font-size: 24px;
}

.paragraph--footer-1-column-2a-headerTitle {
  font-size: 24px;
  color: #fff;
  margin: 0;
}

.paragraph--footer-1-column-2b-headerTitle {
  color: #fff;
  margin: 0;
  font-weight: 300;
}

.paragraph--payments-text-footer-2 {
  border-left: 1px solid #727272;
  color: #fff;
  font-size: 13px;
  padding-left: 10px;
}

@media (max-width: 1024px) {
  .wrapper--text-footer2 {
    width: 100%;
  }

  .paragraph--text-footer2 {
    text-align: center;
    margin: 0;
    font-size: 12px;
  }

  .paragraph--payments-text-footer-2 {
    font-size: 14px;
  }

  .paragraph--footer-1-column-2a-headerTitle {
    font-size: 20px;
  }

  .link--text-social-network-footer,
  :global(.vtex-store-link-0-x-link--link-information-footer) {
    padding-right: 15px !important;
  }
}

@media (max-width: 639px) {
  .container--footer-1-column-1a-headerTitle .paragraph--footer-1-column-1a-headerTitle {
    border-left: none;
    padding-left: 0px;
  }
}
