.menuContainer--footer_menu {
  justify-content: space-between;
}

.styledLinkContainer--root-footer {
  margin: 0;
  padding: 0;
}

.menuContainer--footer_menu .styledLink--root-footer {
  font-size: 18px;
  color: #fff;
}

@media (max-width: 1024px) {
  .menuContainer--footer_menu {
    flex-wrap: wrap;
    justify-content: start;
    gap: 15px;
  }
}
