.infoCardContainer--info-card-1 {
  height: 428px;
  width: 300px !important;
  margin-right: 10px;
  position: relative;
}

.infoCardHeadline--info-card-1 {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 33px;
  text-align: center;
  color: #FFFFFF;
  height: 47.91px;
  width: auto;
  background-color: #000000;
  padding: 11.9564px 17.9346px;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 0;
}

.infoCardCallActionContainer--info-card-1 :global(.vtex-button__label) {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
  padding-left: 0;
  padding-right: 0;
}

.infoCardCallActionContainer--info-card-1 :global(.vtex-button) {
  height: 60.9px;
  background-color: #EDEDED;
  border-color: #EDEDED;
  clip-path: polygon(38% 0, 100% 0%, 100% 100%, 0 100%, 0 84%);
  padding-left: 3rem;
  padding-right: 1rem;
}

.infoCardCallActionContainer--info-card-1 {
  position: absolute;
  bottom: 0px;
  margin-bottom: 0;
  right: 0;
}

.imageElement--newsletter-search {
  width: 100%;
  height: 100%;
}

.infoCardContainer--info-card-7 {
  height: 493px;
  position: relative;
}

.infoCardTextContainer--info-card-7 {
  position: absolute;
  bottom: 40px;
  right: 0;
}

.infoCardCallActionContainer--info-card-7 :global(.vtex-button__label) {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  padding-left: 0;
  padding-right: 0;
}

.infoCardCallActionContainer--info-card-7 :global(.vtex-button) {
  padding: 32px 70px;
  background: #FFFFFF;
  border-color: #FFFFFF;
  width: 360px;
  height: 88px;
}

.productImage--imagePdp-modal .productImageTag--imagePdp-modal {
  width: 793px !important;
  height: 671px !important;
}

@media screen and (min-width: 1400px) {
  :global(.vtex-flex-layout-0-x-flexRowContent--block-two-search-departament) .imageElement {
    width: 1903px !important;
  }
}


@media screen and (min-width: 300px) and (max-width: 769px) {
  .infoCardTextContainer--info-card-7 {
    bottom: 10px;
  }
}

@media screen and (min-width: 300px) and (max-width: 425px) {
  .infoCardHeadline--info-card-1 {
    font-size: 22.0832px;
    line-height: 26px;
    padding: 12.619px 18.9285px;
    height: 51.26px;
  }

  .infoCardCallActionContainer--info-card-7 :global(.vtex-button__label) {
    font-size: 16px;
    line-height: 12px;
  }

  .infoCardCallActionContainer--info-card-7 :global(.vtex-button) {
    padding: 16px 32px;
    width: 240px;
    height: 45px;
  }

  .infoCardTextContainer--info-card-7 {
    bottom: 10px;
    margin-right: 2.5rem;
  }

  .infoCardCallActionContainer--info-card-7 {
    margin-bottom: 1rem;
  }

  .infoCardCallActionContainer--info-card-1 :global(.vtex-button__label) {
    font-size: 14.1963px;
    line-height: 17px;
  }

  .infoCardCallActionContainer--info-card-1 :global(.vtex-button) {
    height: 60.9px;
  }

  .imageElement--newsletter-search {
    width: 403px;
    height: 260.2px;
  }

  .infoCardContainer--info-card-7 {
    height: 433px;
  }

  .infoCardContainer--info-card-1 {
    height: 473.21px;
    width: 337.56px !important;
  }
}


@media screen and (min-width: 769px) and (max-width: 1024px) {
  .infoCardContainer--info-card-1 {
    height: 300px;
    width: 210px !important;
  }

  .infoCardContainer--info-card-7 {
    height: 493px;
    max-width: 100%;
  }

  .infoCardTextContainer--info-card-7 {
    bottom: 10px;
    margin-right: 1.5rem;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .infoCardContainer--info-card-1 {
    width: 260px !important;
  }

  .infoCardContainer--info-card-7 {
    height: 493px;
  }

  .infoCardTextContainer--info-card-7 {
    margin-right: 0.75rem;
  }
}

@media screen and (min-width: 426px) and (max-width: 1024px) {
  .infoCardCallActionContainer--info-card-7 :global(.vtex-button) {
    padding: 10px;
    width: 300px;
    height: 50px;
  }

  .infoCardHeadline--info-card-1 {
    font-size: 20px;
    padding: 11.9564px 17.9346px;
    height: 47.91px;
    line-height: 24px;
  }

  .infoCardCallActionContainer--info-card-1 :global(.vtex-button__label) {
    font-size: 16px;
    line-height: 19px;
  }

  .infoCardCallActionContainer--info-card-1 :global(.vtex-button) {
    height: 60.9px;
  }
}

@media screen and (min-width: 1920px) {
  .infoCardContainer--info-card-1 {
    height: 600px;
    width: 427px !important;
  }

  .infoCardHeadline--info-card-1 {
    font-size: 28px;
    height: 65px;
    padding: 16px 24px;
  }


  .infoCardCallActionContainer--info-card-1 :global(.vtex-button__label) {
    font-size: 18px;
  }

  .infoCardCallActionContainer--info-card-1 :global(.vtex-button) {
    height: 81.5px;
  }
  .infoCardContainer--info-card-7 {
    height: 640px !important;
  }
}

@media screen and (min-width: 1440px) and (max-width: 1919px) {
  .infoCardContainer--info-card-1 {
    height: 448.37px;
    width: 319.83px !important;
  }

  .infoCardHeadline--info-card-1 {
    font-size: 20px;
  }

  .infoCardContainer--info-card-7 {
    height: 493px;
  }
}
