.searchResultContainer--searchLayout-desk {
  padding: 0;
  max-width: 100% !important;
}

.gallery--grid,
.buttonShowMore--layout {
  padding-left: 0.5rem;
}

.buttonShowMore :global(.vtex-button) {
  background: #065FBD;
  border: #065FBD;
  padding: 10px;
}

.buttonShowMore :global(.vtex-button__label) {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

.filters--layout {
  background: #FFFFFF;
  opacity: 0.7;
  border: 1px solid #065FBD;
}

.filter__container--filter--title {
  display: none;
}

.filter__container--filter {
  border-color: #065FBD !important;
  padding: 5px 0;
}

.filter--filter {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.filterTemplateOverflow--filter {
  padding-left: 1.9rem;
  padding-right: 1.9rem;
}

.filterIcon--filter {
  padding-left: 0;
  padding-right: 0;
}

.filterTitleSpan--filter {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #065FBD;
}

.filterItem--filter :global(.vtex-checkbox__label) {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 165.5%;
  color: #065FBD;
}

.filterItem--filter :global(.vtex-checkbox__line-container) {
  align-items: center;
}

.galleryTitle--layout {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  color: #000000;
}

.filterPopupTitle {
  font-size: 0 !important;
}

.orderByText {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #004793;
}

.orderByButton {
  background-color: transparent;
  padding: 0;

}

.galleryTitle--layout {
  margin-top: 0;
  margin-bottom: 0;
}

.caretIcon {
  color: #004793;
}

.filter__container--selectedFilters {
  display: none;
}

.orderByOptionItem {
  color: #065FBD;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
}

.container--layout--searchLayout-desk :global(.vtex-flex-layout-0-x-flexRowContent--item-filtros) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  width: 100% !important;
}

.searchResultContainer--searchLayout-departament {
  padding: 0;
}

.filter__container--talla .filterContent--filter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.filter__container--talla .filterContent--filter .filterItem--filter {
  width: 30%;
  padding-bottom: 10px;
}

.filter__container--talla .filterContent--filter .filterItem--filter :global(.vtex-checkbox__container) {
  display: none;
}

.filter__container--talla .filterContent--filter .filterItem--filter :global(.vtex-checkbox__label) {
  border: 0.758652px solid #065FBD;
  text-align: center;
  border-radius: 3.03461px;
}

.filter__container--talla .filterContent--filter .filterItem--filter :global(.vtex-checkbox__label):hover {
  color: #FFFFFF;
  background-color: #065FBD;
}

.buttonShowMore :global(.vtex-button) :global(.vtex-button__label) {
  font-size: 0;
}

.buttonShowMore :global(.vtex-button) :global(.vtex-button__label)::after {
  content: "Cargar más";
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

.galleryItem :global(.vtex-product-summary-2-x-element--global) :global(.vtex-flex-layout-0-x-flexRow--column-two) :global(.vtex-flex-layout-0-x-stretchChildrenWidth):last-child {
  height: 30px;
}

@media screen and (min-width: 1400px) {
  .searchResultContainer--searchLayout-departament {
    max-width: 120rem !important;
  }

 /*  .galleryItem :global(.vtex-product-summary-2-x-element--global) :global(.vtex-flex-layout-0-x-flexRow--column-two) :global(.vtex-product-summary-2-x-nameContainer--name-global) {
    height: 47px;
  } */

 /*  .galleryItem :global(.vtex-product-summary-2-x-element--global) :global(.vtex-flex-layout-0-x-flexRow--column-two) :global(.vtex-product-summary-2-x-description--descripcion-global) {
    height: 38px;
  } */

  /* .galleryItem :global(.vtex-product-summary-2-x-element--global) :global(.vtex-flex-layout-0-x-flexRow--column-two) :global(.vtex-flex-layout-0-x-stretchChildrenWidth):last-child {
    height: 30px;
  } */
}

@media screen and (min-width: 300px) and (max-width: 375px) {
  :global(.vtex-flex-layout-0-x-flexRowContent--container-mobile) :global(.vtex-flex-layout-0-x-stretchChildrenWidth):first-child {
    width: 50% !important;
  }

  :global(.vtex-flex-layout-0-x-flexRowContent--container-mobile) :global(.vtex-flex-layout-0-x-stretchChildrenWidth):last-child {
    width: 50% !important;
  }

}

@media screen and (min-width: 376px) and (max-width: 425px) {
  :global(.vtex-flex-layout-0-x-flexRowContent--container-mobile) :global(.vtex-flex-layout-0-x-stretchChildrenWidth):first-child {
    width: 40% !important;
  }

  :global(.vtex-flex-layout-0-x-flexRowContent--container-mobile) :global(.vtex-flex-layout-0-x-stretchChildrenWidth):last-child {
    width: 60% !important;
  }

}

@media screen and (min-width: 426px) and (max-width: 768px) {
  :global(.vtex-flex-layout-0-x-flexRowContent--container-mobile) :global(.vtex-flex-layout-0-x-stretchChildrenWidth):first-child {
    width: 22% !important;
  }

  :global(.vtex-flex-layout-0-x-flexRowContent--container-mobile) :global(.vtex-flex-layout-0-x-stretchChildrenWidth):last-child {
    width: 78% !important;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  :global(.vtex-flex-layout-0-x-flexRowContent--container-mobile) :global(.vtex-flex-layout-0-x-stretchChildrenWidth):first-child {
    width: 18% !important;
  }

  :global(.vtex-flex-layout-0-x-flexRowContent--container-mobile) :global(.vtex-flex-layout-0-x-stretchChildrenWidth):last-child {
    width: 82% !important;
  }
}

@media screen and (min-width: 300px) and (max-width: 1024px) {
  .buttonShowMore--layout {
    margin-top: 30px;
  }

  .gallery--grid {
    background-color: #F2F7FA;
    padding-left: 0;
    padding-right: 0;
  }

  .galleryItem {
    padding: 0;
  }

  .galleryItem--grid :global(.vtex-product-summary-2-x-element--global) {
    padding-top: 0;
  }

  .searchResultContainer {
    padding: 0;
  }

  .filterPopupArrowIcon--filter,
  .filterPopupArrowIcon {
    padding-top: 0;
  }

  .filterPopupButton {
    display: flex;
    align-items: center;
    padding-left: 0;
  }

  .filterPopupTitle--filter::before {
    content: "Mostrar filtro";
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #004793;
  }

  .filterIcon--filter {
    display: none;
  }

  .filterPopupArrowIcon--filter::after {
    content: "+";
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #004793;
  }

  .filters--layout {
    border: 0;
    background-color: transparent;
    opacity: 1;
  }

  .orderByDropdown {
    margin-left: 0;
  }

  .orderBy--layout {
    display: flex;
    align-items: center;
  }

  .filtersWrapperMobile--filter {
    justify-content: flex-start !important;
  }

  .orderByText {
    display: flex !important;
  }

  .orderByButton {
    justify-content: flex-start;
  }

  .filterAccordionBreadcrumbs,
  .filterAccordionItemBox--filter,
  .filterAccordionItemBox {
    border-color: #065FBD;
  }

  .accordionFilterContainer {
    padding-left: 0;
  }

  .accordionFilterItemTitle--filter {
    padding-left: 15px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #065FBD;
  }

  .filterBreadcrumbsItemName--filter,
  .filterBreadcrumbsText--filter {
    color: #065FBD;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
  }

  .filterBreadcrumbsText--filter {
    margin-right: 10px;
  }

  .accordionFilterOpen {
    padding: 0;
  }

  .filterAccordionItemBox {
    padding-left: 0.75rem;
  }

  .filterAccordionItemBox :global(.vtex-checkbox__label) {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #065FBD;
  }

  .filterClearButtonWrapper--filter {
    background-color: #000000;
  }

  .filterApplyButtonWrapper--filter :global(.vtex-button) {
    background-color: #065FBD;
    border-color: #065FBD;
  }

  .filterButtonsBox {
    padding: 5px;
  }

  .accordionFilterItemOptions {
    padding: 0;
  }
}

@media screen and (min-width: 1920px) {
  .galleryTitle--layout {
    font-size: 32px;
  }

  .orderByText {
    font-size: 24px;
  }

  .filterTitleSpan--filter {
    font-size: 24px;
  }
}

@media screen and (max-width: 425px) {
  .galleryTitle--layout {
    font-size: 22px;
  }

  .galleryItem--grid :global(.vtex-product-summary-2-x-container--global) {
    width: 201px;
    margin-bottom: 10px;
    padding-bottom: 3px;
  }

  .galleryItem--grid :global(.vtex-product-summary-2-x-element--global) {
    padding: 0 2px;
  }

  .galleryItem--grid :global(.vtex-rich-text-0-x-paragraph--compra-rapida) {
    font-size: 16px;
    color: #000000;
  }

  .galleryItem--grid :global(.vtex-rich-text-0-x-container--compra-rapida) {
    background: #FFFFFF;
    border: 1px solid #ededed;
  }

  .galleryItem--grid :global(.vtex-product-price-1-x-currencyContainer--name-global),
  .galleryItem--grid :global(.vtex-product-summary-2-x-productBrand--name-global),
  .galleryItem--grid :global(.vtex-product-highlights-2-x-productHighlightWrapper--nuevo),
  .galleryItem--grid :global(.vtex-product-summary-2-x-description--descripcion-global) {
    font-size: 14.2079px;
  }

  .galleryItem--grid :global(.vtex-product-summary-2-x-image--image-global) {
    width: 201px;
    height: 201px;
  }
}

@media screen and (max-width: 375px) {
  .galleryItem--grid :global(.vtex-product-summary-2-x-container--global) {
    width: 177px;
  }

}

@media screen and (max-width: 320px) {

  .galleryItem--grid :global(.vtex-product-price-1-x-currencyContainer--name-global),
  .galleryItem--grid :global(.vtex-product-summary-2-x-productBrand--name-global),
  .galleryItem--grid :global(.vtex-product-highlights-2-x-productHighlightWrapper--nuevo),
  .galleryItem--grid :global(.vtex-product-summary-2-x-description--descripcion-global),
  .galleryItem--grid :global(.vtex-rich-text-0-x-paragraph--compra-rapida) {
    font-size: 12px;
  }

  .galleryItem--grid :global(.vtex-product-summary-2-x-description--descripcion-global) {
   height: 28px;
  }

  .galleryItem--grid :global(.vtex-product-summary-2-x-image--image-global) {
    width: 180px;
    height: 180px;
  }

  .galleryItem--grid :global(.vtex-product-summary-2-x-container--global) {
    width: 153px;
  }
}
