.flexRow--block-one-search :global(.vtex-store-components-3-x-container),
.flexRow--block-two-search :global(.vtex-store-components-3-x-container),
.flexRow--block-three-search :global(.vtex-store-components-3-x-container) {
  width: calc(1240px - 24px * 2);
  margin: 0 auto;
}

.flexRow--block-one-search {
  background-color: #FFFFFF;
}

.flexRow--block-two-search {
  background-color: #EDEDED;
  padding-top: 30px;
  padding-bottom: 50px;
}

.flexRow--block-three-search {
  padding-bottom: 50px;
  background-color: #EDEDED;
}

.flexRowContent--block-two-search {
  display: flex;
  flex-direction: row;
}

.flexRow--block-one-search :global(.vtex-store-components-3-x-container),
.flexRow--block-two-search :global(.vtex-store-components-3-x-container),
.flexRow--block-three-search :global(.vtex-store-components-3-x-container),
.flexRow--block-three-search-mobile :global(.vtex-store-components-3-x-container) {
  padding-left: 0;
  padding-right: 0;
}

.flexCol--block-one-one {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.flexRowContent--block-three-search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flexRowContent--block-three-search :global(.vtex-flex-layout-0-x-stretchChildrenWidth):first-child {
  width: 25% !important;
}

.flexRowContent--block-three-search :global(.vtex-flex-layout-0-x-stretchChildrenWidth):last-child {
  width: 75% !important;
}

.flexRowContent--productsContainerSearch :global(.vtex-flex-layout-0-x-stretchChildrenWidth):last-child {
  width: 100% !important;
}

.flexRowContent--block-two-search :global(.vtex-flex-layout-0-x-stretchChildrenWidth):first-child {
  width: 40% !important;
}

.flexRowContent--block-two-search :global(.vtex-flex-layout-0-x-stretchChildrenWidth):last-child {
  width: 60% !important;
}

/* .flexCol--block-one-one  */
.flexColChild--block-one-one:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexRowContent--fetchmore {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flexRowContent--column-two {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  padding: 10px;
  margin-top: -5px;
}

.flexRowContent--column-one {
  /* padding-left: 10px;
  padding-right: 10px; */
  background-color: #eceef0;
}

.flexRowContent--column-two :global(.vtex-flex-layout-0-x-stretchChildrenWidth),
.flexRowContent--column-two :global(.vtex-flex-layout-0-x-stretchChildrenWidth):first-child {
  width: 100% !important;
}

.flexCol--group-prices {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.flexRowContent--group-logos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #FFFFFF;
  border: 1px solid #000;
}

.flexColChild--logo {
  display: flex;
  justify-content: center;
  padding: 30px 30px;

}

.flexColChild--adiddas {
  background-color: #004793 !important;
  border: 1px solid #004793 !important;
  padding-top: 14px !important;
  padding-bottom: 32px !important;
}

.flexRowContent--group-logos :global(.vtex-flex-layout-0-x-stretchChildrenWidth),
.flexRowContent--group-logos :global(.vtex-flex-layout-0-x-stretchChildrenWidth):first-child,
.flexRowContent--group-logos :global(.vtex-flex-layout-0-x-stretchChildrenWidth):last-child {
  width: 16% !important;
}

.flexRowContent--container-slider--home :global(.vtex-product-summary-2-x-element--global) :global(.vtex-flex-layout-0-x-flexRowContent--column-two) :global(.vtex-product-price-1-x-listPrice) {
  display: none;
}

/* item - filter */
.flexCol--item-filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  opacity: 0.7;
}

.flexRowContent--item-filtros {
  border-left: 1px solid #065FBD;
  border-right: 1px solid #065FBD;
  background-color: #FFFFFF;
}

.flexCol--item-filter {
  border-top: 1px solid #065FBD;
  padding: 1rem 1.5rem;
}

.flexColChild--serch-colunm-left {
  height: auto !important;
}

.flexRowContent--item-filtros {
  display: flex;
  flex-direction: column;
}

/* item filter */
/* genero */
.flexRowContent--block-three-search-departament {
  display: flex;
  flex-direction: column;
}

.flexCol--block-one-three-departament,
.flexCol--four-title-slider-search-departament {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flexCol--three-title-search-departament {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flexRowContent--block-four-search-departament {
  display: flex;
  flex-direction: column;
}

.flexCol--three-title-search-departament {
  padding-bottom: 20px;
}

.flexRow--block-one-search-departament {
  background-color: #FFFFFF;
}

.flexRow--block-one-search-departament :global(.vtex-store-components-3-x-container) {
  padding-left: 50px;
  padding-right: 30px;
}

.flexCol--three-title-search-departament {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flexRow--block-three-search-departament,
.flexRow--block-four-search-departament,
.flexRow--block-five-search-departament,
.flexRow--block-eight-search-departament,
.flexRow--block-six-search-departament {
  background-color: #EDEDED;
}

.flexRow--block-three-search-departament :global(.vtex-store-components-3-x-container) {
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 20px;
  padding-bottom: 40px;
}

.flexRow--block-five-search-departament :global(.vtex-store-components-3-x-container) {
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.flexRow--block-four-search-departament :global(.vtex-store-components-3-x-container) {
  padding-left: 107px;
  padding-right: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.flexRow--block-eight-search-departament :global(.vtex-store-components-3-x-container) {
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.flexCol--eight-infocard-search-departament {
  background-color: #FFFFFF;
}

.flexCol--eight-infocard-search-departament .flexColChild--eight-infocard-search-departament:first-child {
  padding-left: 40px;
  padding-right: 80px;
  padding-top: 20px;
}

.flexCol--eight-infocard-search-departament .flexColChild--eight-infocard-search-departament:last-child {
  background-color: #EDEDED;
  padding: 0;
}

.flexRowContent--block-five-search-departament {
  clip-path: polygon(50% 0%, 94% 0, 100% 15%, 100% 100%, 6% 100%, 0 87%, 0 0);
}

.flexCol--four-title-slider-search-departament {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flexRowContent--block-eight-search-departament {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flexCol--eight-infocard-search-departament:last-child {
  margin-left: 20px;
}

.flexRow--block-six-search-departament :global(.vtex-store-components-3-x-container) {
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 30px;
  padding-top: 30px;
}

.flexRowContent--marcas-search-departament {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flexRowContent--marcas-search-departament .stretchChildrenWidth:first-child {
  width: 40% !important;
  background-color: #FFFFFF;
  clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 0 100%, 0 41%, 7% 0);

}

.flexRowContent--marcas-search-departament .stretchChildrenWidth:last-child {
  width: 60% !important;
  background-color: #EDEDED;
}

/* genero */

/* compra rapida */
.flexRow--quickviewMainRow {
  background-color: #FFFFFF;
  clip-path: polygon(0 0, 98% 0, 100% 6%, 100% 100%, 0 100%, 0% 50%);
}

.flexRowContent--quickviewMainRow {
  padding: 20px;
  background-color: #FFFFFF;
}

@media screen and (min-width: 300px) and (max-width: 425px) {
.flexRowContent--quickviewMainRow {
  display: flex;
  flex-direction: column;
}

.flexRow--quickviewMainRow {
  background-color: #ededed;
  clip-path: polygon(0 0, 92% 0, 100% 3%, 100% 100%, 0 100%, 0% 50%);
}

.flexRowContent--quickviewMainRow {
  background-color: #ededed;
  margin-top: 25px;
}
}
/* compra rapida */

@media screen and (min-width: 300px) and (max-width: 425px) {
  .flexRowContent--marcas-search-departament {
    flex-direction: column;
  }

  .flexRowContent--marcas-search-departament .stretchChildrenWidth:first-child,
  .flexRowContent--marcas-search-departament .stretchChildrenWidth:last-child {
    width: 100% !important;
  }

  .flexRowContent--block-eight-search-departament {
    flex-direction: column;
  }

  .flexCol--eight-infocard-search-departament {
    margin-left: 0 !important;
  }

  .flexRow--block-eight-search-departament :global(.vtex-store-components-3-x-container) {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .flexRow--block-three-search-departament :global(.vtex-store-components-3-x-container),
  .flexRow--block-four-search-departament :global(.vtex-store-components-3-x-container) {
    padding-left: 0;
    padding-right: 0;
  }

  .flexRow--block-five-search-departament :global(.vtex-store-components-3-x-container) {
    padding-left: 10px;
    padding-right: 10px;
  }

  .flexCol--three-title-search-departament,
  .flexCol--four-title-slider-search-departament {
    padding-left: 15px;
    padding-right: 15px;
  }

  .flexRowContent--block-five-search-departament {
    display: flex;
    flex-direction: column-reverse;
  }

  .flexRowContent--block-five-search-departament {
    clip-path: polygon(92% 0, 100% 6%, 100% 60%, 100% 100%, 6% 100%, 0 95%, 0 0);
  }

  .flexColChild--eight-infocard-search-departament {
    padding: 0 !important;
  }

  .flexRowContent--block-five-search-departament .stretchChildrenWidth {
    margin-top: -4px;
  }
}

@media screen and (min-width: 1400px) {
  :global(.vtex-modal-layout-0-x-contentContainer--quickviewContent) .flexRow--mobile,
  :global(.vtex-modal-layout-0-x-contentContainer--quickviewContent) .flexRow--mobile-pdp-sku {
    display: none;
  }

  .flexRow--block-one-search :global(.vtex-store-components-3-x-container),
  .flexRow--block-two-search :global(.vtex-store-components-3-x-container),
  .flexRow--block-three-search :global(.vtex-store-components-3-x-container) {
    width: calc(1690px - 24px * 2);
    margin: 0 auto;
    max-width: 100% !important;
  }

  .flexRow--block-one-search-departament :global(.vtex-store-components-3-x-container) {
    max-width: 115rem !important;
}

.flexRow--block-two-search-departament :global(.vtex-store-components-3-x-container),
.flexRow--block-three-search-departament :global(.vtex-store-components-3-x-container),
.flexRow--block-four-search-departament :global(.vtex-store-components-3-x-container),
.flexRow--block-five-search-departament :global(.vtex-store-components-3-x-container)  {
  max-width: 120rem !important;
}

.flexRow--block-six-search-departament :global(.vtex-store-components-3-x-container) {
  max-width: 118rem !important;
}

.flexRow--block-eight-search-departament :global(.vtex-store-components-3-x-container) {
  max-width: 120rem !important;
}
}

@media screen and (min-width: 300px) and (max-width: 1024px) {
  .flexRow--block-six-search-departament :global(.vtex-store-components-3-x-container) {
    padding-left: 20px;
    padding-right: 20px;
  }

  .flexRow--block-two-search {
    padding-bottom: 30px;
  }

  .flexRowContent--block-two-search {
    flex-direction: column !important;
  }

  .flexRow--block-three-search-mobile {
    padding-bottom: 50px;
    background-color: #EDEDED;
  }

  .flexRowContent--container-mobile {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .flexRowContent--block-two-search :global(.vtex-flex-layout-0-x-stretchChildrenWidth):first-child,
  .flexRowContent--block-two-search :global(.vtex-flex-layout-0-x-stretchChildrenWidth):last-child {
    width: 100% !important;
  }

  .flexRowContent--group-logos :global(.vtex-flex-layout-0-x-stretchChildrenWidth),
  .flexRowContent--group-logos :global(.vtex-flex-layout-0-x-stretchChildrenWidth):first-child,
  .flexRowContent--group-logos :global(.vtex-flex-layout-0-x-stretchChildrenWidth):last-child {
    width: 16% !important;
  }

  .flexCol--block-one-two {
    margin-top: 30px;
  }

  .flexRow--block-eight-search-departament :global(.vtex-store-components-3-x-container) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (min-width: 300px) and (max-width: 320px) {
  .flexRow--block-one-search :global(.vtex-store-components-3-x-container),
  .flexRow--block-two-search :global(.vtex-store-components-3-x-container),
  .flexRow--block-three-search-mobile :global(.vtex-store-components-3-x-container) {
    width: calc(310px - 12px * 2);
    margin: 0 auto;
  }
}

@media screen and (min-width: 321px) and (max-width: 375px) {
  .flexRow--block-one-search :global(.vtex-store-components-3-x-container),
  .flexRow--block-two-search :global(.vtex-store-components-3-x-container),
  .flexRow--block-three-search-mobile :global(.vtex-store-components-3-x-container) {
    width: calc(375px - 12px * 2);
    margin: 0 auto;
  }
}

@media screen and (min-width: 376px) and (max-width: 425px) {
  .flexRow--block-one-search :global(.vtex-store-components-3-x-container),
  .flexRow--block-two-search :global(.vtex-store-components-3-x-container),
  .flexRow--block-three-search-mobile :global(.vtex-store-components-3-x-container) {
    width: calc(430px - 12px * 2);
    margin: 0 auto;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .flexRow--block-one-search :global(.vtex-store-components-3-x-container),
  .flexRow--block-two-search :global(.vtex-store-components-3-x-container),
  .flexRow--block-three-search-mobile :global(.vtex-store-components-3-x-container) {
    width: calc(730px - 12px * 2);
    margin: 0 auto;
  }

  .flexRow--block-three-search-departament :global(.vtex-store-components-3-x-container) {
    padding-left: 60px;
    padding-right: 60px;
  }

  .flexRow--block-four-search-departament :global(.vtex-store-components-3-x-container) {
    padding-left: 60px;
    padding-right: 60px;
  }

  .flexRowContent--block-five-search-departament {
    clip-path: polygon(93% 0, 100% 9%, 100% 60%, 100% 100%, 10% 100%, 0 92%, 0 0);
  }

  .flexCol--eight-infocard-search-departament:last-child {
    margin-left: 20px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .flexRow--block-one-search :global(.vtex-store-components-3-x-container),
  .flexRow--block-two-search :global(.vtex-store-components-3-x-container),
  .flexRow--block-three-search-mobile :global(.vtex-store-components-3-x-container) {
    width: calc(999px - 12px * 2);
    margin: 0 auto;
  }

  .flexRow--block-four-search-departament :global(.vtex-store-components-3-x-container) {
    padding-left: 66px;
    padding-right: 60px;
  }
}

@media screen and (min-width: 300px) and (max-width: 768px) {
  .flexCol--block-one-three-departament {
    overflow-y: auto;
  }
}

@media screen and (min-width: 426px) and (max-width: 1024px) {
.flexRow--block-five-search-departament :global(.vtex-store-components-3-x-container) {
  padding-left: 10px;
  padding-right: 10px;
}
}
