.contentContainer {
  background-color: #004793;
  padding: 20px 10px;
}

.listContainer--tab-marcas {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
}

.listItem--tab-marcas1,
.listItem--tab-marcas2,
.listItem--tab-marcas3,
.listItem--tab-marcas4,
.listItem--tab-marcas5 {
  padding: 0;
  margin: 0;
  width: 16.66%;
  height: 100%;
  border-right: 1px solid #004793;
}

.listItem--tab-marcas6 {
  padding: 0;
  margin: 0;
  width: 16.66%;
}

.listItem--tab-marcas1,
.listItem--tab-marcas2,
.listItem--tab-marcas3,
.listItem--tab-marcas4,
.listItem--tab-marcas5,
.listItem--tab-marcas6 {
  max-width: 100%;
  height: 110.98px;
}

.listItemActive--tab-marcas1 :global(.vtex-button):hover,
.listItemActive--tab-marcas2 :global(.vtex-button):hover,
.listItemActive--tab-marcas3 :global(.vtex-button):hover,
.listItemActive--tab-marcas4 :global(.vtex-button):hover,
.listItemActive--tab-marcas5 :global(.vtex-button):hover,
.listItemActive--tab-marcas6 :global(.vtex-button):hover {
  background-color: #004793 !important;
}

.listItem--tab-marcas1,
.listItem--tab-marcas2,
.listItem--tab-marcas3,
.listItem--tab-marcas4,
.listItem--tab-marcas5,
.listItem--tab-marcas6 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.listItem--tab-marcas2 :global(.vtex-button),
.listItem--tab-marcas3 :global(.vtex-button),
.listItem--tab-marcas4 :global(.vtex-button),
.listItem--tab-marcas5 :global(.vtex-button),
.listItem--tab-marcas6 :global(.vtex-button),
.listItem--tab-marcas1 :global(.vtex-button){
  width: 100%;
  height: 100%;
}


.listItem--tab-marcas1 :global(.vtex-button)::after {
  content: url(assets/images/genero/adidas.svg);
}

.listItem--tab-marcas2 :global(.vtex-button)::after {
  content: url(assets/images/genero/new.svg);
}

.listItem--tab-marcas3 :global(.vtex-button)::after {
  content: url(assets/images/genero/nike.svg);
}

.listItem--tab-marcas4 :global(.vtex-button)::after {
  content: url(assets/images/genero/reebok.svg);
}

.listItem--tab-marcas5 :global(.vtex-button)::after {
  content: url(assets/images/genero/puma.svg);
}

.listItem--tab-marcas6 :global(.vtex-button)::after {
  content: url(assets/images/genero/ske.svg);
}

.listItem--tab-marcas1 :global(.vtex-button__label),
.listItem--tab-marcas2 :global(.vtex-button__label),
.listItem--tab-marcas3 :global(.vtex-button__label),
.listItem--tab-marcas4 :global(.vtex-button__label),
.listItem--tab-marcas5 :global(.vtex-button__label),
.listItem--tab-marcas6 :global(.vtex-button__label) {
  display: none;
}

.listItem--tab-marcas2 :global(.vtex-button):hover,
.listItem--tab-marcas3 :global(.vtex-button):hover,
.listItem--tab-marcas4 :global(.vtex-button):hover,
.listItem--tab-marcas5 :global(.vtex-button):hover,
.listItem--tab-marcas6 :global(.vtex-button):hover,
.listItem--tab-marcas1 :global(.vtex-button):hover {
  background-color: transparent;
}

.listItemActive--tab-marcas1,
.listItemActive--tab-marcas2,
.listItemActive--tab-marcas3,
.listItemActive--tab-marcas4,
.listItemActive--tab-marcas5,
.listItemActive--tab-marcas6 {
  background-color: #004793;
}

.listContainer--tab-marcas {
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: #004793;
}

@media screen and (min-width: 300px) and (max-width: 1024px) {
  .listItem--tab-marcas1 :global(.vtex-button)::after {
    content: url(assets/images/genero/adidasmobile.svg);
  }

  .listItem--tab-marcas2 :global(.vtex-button)::after {
    content: url(assets/images/genero/newmobile.svg);
  }

  .listItem--tab-marcas3 :global(.vtex-button)::after {
    content: url(assets/images/genero/nikemobile.svg);
  }

  .listItem--tab-marcas4 :global(.vtex-button)::after {
    content: url(assets/images/genero/reebokmobile.svg);
  }

  .listItem--tab-marcas5 :global(.vtex-button)::after {
    content: url(assets/images/genero/pumamobile.svg);
  }

  .listItem--tab-marcas6 :global(.vtex-button)::after {
    content: url(assets/images/genero/skemobile.svg);
  }
}


@media screen and (max-width: 768px) {
.listItem--tab-marcas1,
.listItem--tab-marcas2,
.listItem--tab-marcas3,
.listItem--tab-marcas4,
.listItem--tab-marcas5,
.listItem--tab-marcas6 {
  width: 33.32%;
  border-color: #000;
}

.listItem--tab-marcas1,
.listItem--tab-marcas2,
.listItem--tab-marcas3 {
  border-bottom: 1px solid #000;
}

.listContainer--tab-marcas {
  border-color: #000;
}

.listContainer--tab-marcas {
  border-top: 1px solid #004793;
}

.listItemActive--tab-marcas1 {
  border-color: #004793;
}
}
