.sliderLeftArrow--infocard {
  margin-left: -20px !important;
}

.sliderTrack--infocard {
  width: 650%;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .sliderTrack--infocard {
    width: 670% !important;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .sliderTrack--infocard {
    width: 670% !important;
  }
}

@media screen and (min-width: 376px) and (max-width: 425px) {
  .sliderTrack--infocard,
  .sliderTrack--tab {
    width: 950% !important;
  }
}

@media screen and (min-width: 321px) and (max-width: 375px) {
  .sliderTrack--infocard,
  .sliderTrack--tab {
    width: 970% !important;
  }
}

@media screen and (min-width: 300px) and (max-width: 320px) {
  .sliderTrack--infocard,
  .sliderTrack--tab {
    width: 950% !important;
  }
}
