.searchResultContainer--searchLayout-desk {
  padding: 0;
  max-width: 100% !important;
}

.gallery--grid,
.buttonShowMore--layout {
  padding-left: 0.5rem;
}

.buttonShowMore :global(.vtex-button) {
  background: #065FBD;
  border: #065FBD;
  padding: 10px;
}

.buttonShowMore :global(.vtex-button__label) {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

.filters--layout {
  background: #FFFFFF;
  opacity: 0.7;
  border: 1px solid #065FBD;
}

.filter__container--filter--title {
  display: none;
}

.filter__container--filter {
  border-color: #065FBD !important;
}

.filter--filter {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.filterTemplateOverflow--filter {
  padding-left: 1.9rem;
  padding-right: 1.9rem;
}

.filterIcon--filter {
  padding-left: 0;
  padding-right: 0;
}

.filterTitleSpan--filter {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #065FBD;
}

.filterItem--filter :global(.vtex-checkbox__label) {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 165.5%;
  color: #065FBD;
}

.filterItem--filter :global(.vtex-checkbox__line-container) {
  align-items: center;
}

.galleryTitle--layout {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  color: #000000;
}

.filterPopupTitle {
  font-size: 0 !important;
}

.orderByText {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #004793;
}

.orderByButton {
  background-color: transparent;
  padding: 0;

}

.galleryTitle--layout {
  margin-top: 0;
  margin-bottom: 0;
}

.caretIcon {
  color: #004793;
}

.filter__container--selectedFilters {
  display: none;
}

.orderByOptionItem{
  color: #065FBD;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
}

@media screen and (min-width: 300px) and (max-width: 320px) {
  .filterPopupTitle--filter::before, .orderByText {
    font-size: 14px !important;
  }
}

@media screen and (min-width: 300px) and (max-width: 375px) {
  :global(.vtex-flex-layout-0-x-flexRowContent--container-mobile) :global(.vtex-flex-layout-0-x-stretchChildrenWidth):first-child {
    width: 50% !important;
  }

  :global(.vtex-flex-layout-0-x-flexRowContent--container-mobile) :global(.vtex-flex-layout-0-x-stretchChildrenWidth):last-child {
    width: 50% !important;
  }
}

@media screen and (min-width: 376px) and (max-width: 425px) {
  :global(.vtex-flex-layout-0-x-flexRowContent--container-mobile) :global(.vtex-flex-layout-0-x-stretchChildrenWidth):first-child {
    width: 40% !important;
  }

  :global(.vtex-flex-layout-0-x-flexRowContent--container-mobile) :global(.vtex-flex-layout-0-x-stretchChildrenWidth):last-child {
    width: 60% !important;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  :global(.vtex-flex-layout-0-x-flexRowContent--container-mobile) :global(.vtex-flex-layout-0-x-stretchChildrenWidth):first-child {
    width: 22% !important;
  }

  :global(.vtex-flex-layout-0-x-flexRowContent--container-mobile) :global(.vtex-flex-layout-0-x-stretchChildrenWidth):last-child {
    width: 78% !important;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  :global(.vtex-flex-layout-0-x-flexRowContent--container-mobile) :global(.vtex-flex-layout-0-x-stretchChildrenWidth):first-child {
    width: 18% !important;
  }

  :global(.vtex-flex-layout-0-x-flexRowContent--container-mobile) :global(.vtex-flex-layout-0-x-stretchChildrenWidth):last-child {
    width: 82% !important;
  }
}

@media screen and (min-width: 300px) and (max-width: 1024px) {
  .searchResultContainer {
    padding: 0;
  }

  .filterPopupButton {
    display: flex;
    align-items: center;
  }

  .filterPopupTitle--filter::before {
    content: "Mostrar filtro";
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #004793;
  }

  .filterIcon--filter {
    display: none;
  }

  .filterPopupArrowIcon--filter::after {
    content: "+";
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #004793;
  }

  .filters--layout {
    border: 0;
    background-color: transparent;
    opacity: 1;
  }

  .orderByDropdown {
    margin-left: 0;
  }

  .orderBy--layout {
    display: flex;
    align-items: center;
  }

  .filtersWrapperMobile--filter {
    justify-content: flex-start !important;
  }

  .orderByText {
    display: flex !important;
  }

  .orderByButton {
    justify-content: flex-start;
  }

  .filterAccordionBreadcrumbs, .filterAccordionItemBox--filter, .filterAccordionItemBox {
    border-color: #065FBD;
  }

  .accordionFilterContainer {
    padding-left: 0;
  }

  .accordionFilterItemTitle--filter {
    padding-left: 15px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #065FBD;
  }

  .filterBreadcrumbsItemName--filter, .filterBreadcrumbsText--filter {
    color: #065FBD;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
  }

  .filterBreadcrumbsText--filter {
    margin-right: 10px;
  }

  .accordionFilterOpen {
    padding: 0;
  }

  .filterAccordionItemBox {
    padding-left: 0.75rem;
  }

  .filterAccordionItemBox :global(.vtex-checkbox__label) {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #065FBD;
  }

  .filterClearButtonWrapper--filter {
    background-color: #000000;
  }

  .filterApplyButtonWrapper--filter :global(.vtex-button) {
    background-color: #065FBD;
    border-color: #065FBD;
  }

  .filterButtonsBox {
    padding: 5px;
  }

  .accordionFilterItemOptions {
    padding: 0;
  }
}


