.infoCardContainer--info-card-1 {
  height: 428px;
  width: 300px !important;
  margin-right: 10px;
  position: relative;
}

.infoCardHeadline--info-card-1 {
  font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 33px;
text-align: center;
color: #FFFFFF;
height: 65px;
width: auto;
background-color: #000000;
padding: 16px 24px;
position: absolute;
left: 0;
top: 0;
margin-top: 0;
}

.infoCardCallActionContainer--info-card-1 :global(.vtex-button__label) {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  padding-left: 0;
  padding-right: 0;
}

.infoCardCallActionContainer--info-card-1 :global(.vtex-button) {
height: 81.5px;
background-color: #EDEDED;
border-color: #EDEDED;
clip-path: polygon(38% 0, 100% 0%, 100% 100%, 0 100%, 0 84%);
padding-left: 3rem;
padding-right: 1rem;
}

.infoCardCallActionContainer--info-card-1 {
  position: absolute;
  bottom: -24px;
  right: 0;
}

.imageElement--newsletter-search {
  height: 500px;
}

@media screen and (min-width: 300px) and (max-width: 425px) {
  .infoCardHeadline--info-card-1 {
    font-size: 22.0832px;
    line-height: 26px;
    padding: 12.619px 18.9285px;
    height: 51.26px;
  }

  .infoCardCallActionContainer--info-card-1 :global(.vtex-button__label) {
    font-size: 14.1963px;
    line-height: 17px;
  }

  .infoCardCallActionContainer--info-card-1 :global(.vtex-button) {
    height: 60.9px;
  }

  .imageElement--newsletter-search {
    width: 403px;
height: 260.2px;
  }
}
@media screen and (min-width: 300px) and (max-width: 320px) {
  .infoCardContainer--info-card-1 {
    height: 473px;
    width: 260px !important;
  }
}

@media screen and (min-width: 321px) and (max-width: 425px) {
  .infoCardContainer--info-card-1 {
    height: 473px;
    width: 300px !important;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .infoCardContainer--info-card-1 {
    height: 300px;
    width: 210px !important;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .infoCardContainer--info-card-1 {
    width: 260px !important;
  }
}

@media screen and (min-width: 426px) and (max-width: 1024px) {

  .infoCardHeadline--info-card-1 {
  font-size: 20px;
  padding: 11.9564px 17.9346px;
  height: 47.91px;
  line-height: 24px;
  }

  .infoCardCallActionContainer--info-card-1 :global(.vtex-button__label) {
    font-size: 16px;
    line-height: 19px;
  }

  .infoCardCallActionContainer--info-card-1 :global(.vtex-button) {
    height: 60.9px;
  }
}
