.searchResultContainer--searchLayout-desk {
  padding: 0;
  max-width: 100% !important;
}

.gallery--grid,
.buttonShowMore--layout {
  padding-left: 0.5rem;
}

.buttonShowMore :global(.vtex-button) {
  background: #065FBD;
  border: #065FBD;
  padding: 10px;
}

.buttonShowMore :global(.vtex-button__label) {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

.filters--layout {
  background: #FFFFFF;
  opacity: 0.7;
  border: 1px solid #065FBD;
}

.filter__container--filter--title {
  display: none;
}

.filter__container--filter {
  border-color: #065FBD !important;
}

.filter--filter {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.filterTemplateOverflow--filter {
  padding-left: 1.9rem;
  padding-right: 1.9rem;
}

.filterIcon--filter {
  padding-left: 0;
  padding-right: 0;
}

.filterTitleSpan--filter {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #065FBD;
}

.filterItem--filter :global(.vtex-checkbox__label) {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 165.5%;
  color: #065FBD;
}

.filterItem--filter :global(.vtex-checkbox__line-container) {
  align-items: center;
}

.galleryTitle--layout {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  color: #000000;
}

.filterPopupTitle {
  font-size: 0 !important;
}

.orderByText {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #004793;
}

.orderByButton {
  background-color: transparent;
  padding: 0;

}

.galleryTitle--layout {
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (min-width: 300px) and (max-width: 1024px){
.searchResultContainer {
padding: 0;
}

}

