:global(.vtex-my-account-1-x-menuLinks) :global(.vtex-account_menu-link),
:global(.vtex-my-account-1-x-menuLink){
    color: #000;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
}

:global(.vtex-my-account-1-x-menuLinks) div :global(.c-on-base){
    color: #fff !important;
    background-color: #000 !important;
    border: none;
    clip-path: polygon(90% 0%, 100% 22px, 100% 100%, 0 100%, 0 0);
}

:global(.vtex-account) > div {
    max-width: unset;
    background-color: #ededed;
    padding: 0;
}

:global(.vtex-account__page),
:global(.vtex-account) > div > div{
    width: 78.8%;
}

:global(.vtex-pageHeader__container),
:global(.vtex-account__page-body){
    padding-inline: 3vw
}

:global(.render-route-store-account) :global(.vtex-input-prefix__group) input,
:global(.render-route-store-account) :global(.vtex-my-authentication-1-x-box_container){
    border: 2px solid #C5C5C5;
}

:global(.vtex-profile-form-3-x-toggleBusinessButtonWrapper){
    margin-bottom: 1rem;
}

:global(.vtex-profile-form-3-x-toggleBusinessButtonWrapper) :global(.vtex-button){
    color: #004793;
    font-family: Rubik;
    font-size: 15px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    border: 1px solid #004793;
    background-color: #fff;
    padding-block: 2px;
    text-transform: none;
}

:global(.vtex-pageHeader-link__container) div{
    color: #000;
}

:global(.vtex-pageHeader-link__container) :global(.vtex-button):hover{
    background-color: transparent;
    color: #004793;
}

:global(.vtex-address-form__addressQuery) :global(.vtex-address-form-4-x-input){
    border: none;
}

:global(.vtex-my-authentication-1-x-authenticationScreen_container){
    padding: 0;
}

:global(.vtex-my-authentication-1-x-box_footer){
    padding-inline: 1.5rem;
}

:global(.vtex_my-authentication_box_content),
:global(.vtex-my-authentication-1-x-box_footer){
    background-color: #fff;
}

:global(.vtex-my-authentication-1-x-box_footer) :global(.vtex-button){
    background: transparent;
    border: 1px solid #004793;
    color: #004793;
    transition: all 0.3s;
}

:global(.vtex-my-authentication-1-x-box_footer) :global(.vtex-button):hover{
    background: #004793;
    border: 1px solid #004793;
    color: #fff;
}

:global(.vtex-my-authentication-1-x-loginSessionsBox_title),
:global(.vtex-my-authentication-1-x-maskedPassword_title){
    font-family: Mulish;
    font-size: 20px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    color: #000;
}

:global(.pac-container){
    border: none !important;
    box-shadow: none !important;
}

:global(.vtex-login-2-x-buttonLink){
    height: 100%;
}

:global(.vtex-login-2-x-contentAlwaysWithOptions){
    flex-direction: row-reverse;
    max-width: 60rem !important;
}

:global(.vtex-login-2-x-emailVerification) :global(.vtex-login-2-x-formLinkContainer){
    justify-content: center;
}

:global(.vtex-login-2-x-formFooter) :global(.vtex-login-2-x-sendButton) :global(.vtex-button){
    border-radius: 4px;
}

:global(.vtex-login-2-x-formFooter) :global(.vtex-login-2-x-sendButton) :global(.vtex-button) :global(.vtex-button__label){
    padding: 9px 14px;
}

:global(.vtex-login-2-x-formFooter) :global(.vtex-login-2-x-sendButton) :global(.vtex-button) span{
    font-family: Rubik;
    font-size: 20px;
    font-weight: 400;
    line-height: 33px;
    color: fff;
}

:global(.vtex-login-2-x-loginOptionsContainer){
    padding-left: 30px;
}

:global(.vtex-login-2-x-forgotPasswordLink){
    font-family: Rubik;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #000;
}

:global(.vtex-login-2-x-contentFormVisible),
:global(.vtex-login-2-x-loginOptionsContainer){
    width: 50%;
    padding-bottom: 63px;
}

:global(.vtex-login-2-x-optionsSticky){
    margin-top: 95px;
}

:global(.vtex-login-2-x-content--emailAndPassword) :global(.vtex-login-2-x-contentForm)::before,
:global(.vtex-login-2-x-content--emailVerification) :global(.vtex-login-2-x-contentForm)::before,
:global(.vtex-login-2-x-content--beginCreatePass) :global(.vtex-login-2-x-contentForm)::before,
:global(.vtex-login-2-x-content--codeConfirmation) :global(.vtex-login-2-x-contentForm)::before {
    content: "Bienvenido a anai's";
    font-family: Mulish;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    padding-bottom: 48px;
    display: block;
}

:global(.vtex-login-2-x-accessCodeOptionBtn) :global(.vtex-button),
:global(.vtex-login-2-x-emailPasswordOptionBtn) :global(.vtex-button){
    background: #B0E3FF;
}

:global(.vtex-login-2-x-accessCodeOptionBtn) :global(.vtex-button__label),
:global(.vtex-login-2-x-emailPasswordOptionBtn) :global(.vtex-button__label){
    font-family: Rubik;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    color: #000;
    padding: 23px 44px !important;
}

@media (max-width: 1024px){
    :global(.vtex-account__page-body) > main{
         display: flex;
         flex-direction: column;
    }

    :global(.vtex-account__page-body) > main > div{
        width: 100% !important;
   }
}

@media (max-width: 720px){
    :global(.vtex-account__page ) {
        width: 100%;
    }
}

@media (max-width: 768px){
    :global(.vtex-login-2-x-contentAlwaysWithOptions){
        flex-direction: column-reverse;
    }

    :global(.vtex-login-2-x-contentFormVisible),
    :global(.vtex-login-2-x-loginOptionsContainer){
        width: 100%;
        padding-bottom: 63px;
    }   

    :global(.vtex-login-2-x-contentFormVisible){
        padding-bottom: 30px;
    }

    :global(.vtex-login-2-x-loginOptionsContainer){
        padding-inline: 0.75rem;
    }

    :global(.vtex-login-2-x-optionsSticky){
        margin-top: 25px;
    }

    :global(.vtex-login-2-x-optionsSticky){
        min-width: unset;
    }
}