
.orderPlacedWrapper {
  /*background-color: #CBCBCB;*/
  padding-top: 1.8rem;
}
.confirmationTitle{
  font-weight: bold;
  text-align: left;
}
@media(min-width: 640px){
  .orderPlacedWrapper {
    background-color: #fff;
  }
}

.productListItem--op-product-data{
  border: solid 2px #d8d7d7;
}