.paragraph--op-number-confirmed, .paragraph--op-number-active {
  color: #fff;
  background-color: #22B23A;
  border-radius: 100%;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.paragraph--op-number-active{
  background-color: #065FBD;
}

.paragraph--op-text-confirmed, .paragraph--op-text-active{
  color: #22B23A;
  font-weight: 500;
  margin: 0;
}
.paragraph--op-text-active{
  color: #065FBD;
}

.wrapper--op-change-order, .wrapper--op-track-order {
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #3D7BBE;
  padding: .5rem 1rem;
  border-radius: 4px;
  text-decoration: none;
}

.wrapper--op-change-order::after, .wrapper--op-track-order::after{
  content: "";
  background-image: url('assets/images/arrow-blank.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 3rem;
  height: 3rem;
  display: block;
}

.link--op-track-order{
  color: #3D7BBE;
  text-decoration: none;
}

@media (max-width: 640px){
  .paragraph--op-text-confirmed{
    display: none;
    visibility: hidden;
  }
}


@media (max-width: 300px){
  .op-number-confirmed{
    text-align: center;
    
  }
}

.heading--op-confirmation-title{
  font-weight: bold;
  padding-bottom: 10%;
  padding-top: 0%;
}

.container--op-track-order, .container--op-change-order{
  border: solid 2px #d8d7d7;
}

.link--op-change-order{
  text-decoration: none;
}

.link--op-change-order, .link--op-track-order{
 color: #7cb6f5;
 font-size: 1rem;
}