.orderPlacedWrapper {
  /*background-color: #CBCBCB;*/
  padding-top: 1.8rem;
}

.confirmationTitle {
  font-weight: bold;
  text-align: left;
}

.package--op-product-data {
  border: solid 1px #b1c6dd;
  padding-left: 10%;
 
}



.productPrice--op-product-data{
  padding-left: 0%;
}

.totalList{
 width: 100%;
 padding-left: 5%;
 padding-right: 5%;
}

.totalListWrapper {
  border: solid 1px #b1c6dd;
   
}
.totalListItem--Items{
  border-bottom: solid 1px black;
}
.t-heading-3{
  color: blue;
}


.productList--op-order-data,
.packageHeaderColumn--op-product-data {
  display: none;
  visibility: hidden;
}

.customerInfoListContainer,
.packageHeader--op-order-data,
.addressContainer,
.orderPaymentWrapper {
  padding-left: 10%;
  font-size: 15px;


}

.customerInfoListName,
.paymentGroup,
.packageDeliveryTitle{
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.packageShippingEstimate,
.packageSLA,
.customerInfoListEmail,
.customerInfoListPhone, 
.productName--op-product-data,
.roductQuantity--op-product-data,
.productPrice--op-product-data {
  
  color: black;
}

.packageHeader--op-order-data {
  margin-top: -63px;
}

.customerInfoListContainer {
  padding-top: 15%;
}
.img{
  height: auto;
  width: auto;
  max-height: 100px;
  max-width: 100px;
}
.productName--op-product-data{
  font-size: 12px;
}

@media(min-width: 640px) {
  .orderPlacedWrapper {
    background-color: #fff;
  }
}

@media(max-width: 640px) {
  .orderWrapper .orderPaymentItem {
    text-align: center;
  }
}