.productHighlightWrapper--nuevo {
  background-color: #ffffff;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: left;
  color: #4AA358;
  height: 20px;
  margin-top: 10px;
}
