.paragraph--compra-rapida {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
}

.container--compra-rapida {
  background: #CF0E2D;
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
  margin-top: -5px;
}

@media screen and (min-width: 300px) and (max-width: 320px) {
  .paragraph--compra-rapida {
    font-size: 11px;
  }
}
