.paragraph--compra-rapida {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  color: #FFFFFF;
}

.container--compra-rapida {
  background: #CF0E2D;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 31.83px;
}

@media screen and (max-width: 450px) {
  .paragraph--compra-rapida {
    font-size: 20px;
  }
}
