.sizeDesktop,
.sizeMobile {
  max-width: none;
  max-height: none;
  min-width: auto;
  padding: 0;
}

.logoLink {
  display: block;
  padding: 10px;
  padding-left: 0;
}

.searchBarContainer {
  padding: 15px 10px;
  width: 25vw;
}

.searchBarContainer :global(.vtex-input-prefix__group) {
  border: none;
  border-radius: 4px;
  height: 100%;
}

.searchBarContainer .searchBarInnerContainer {
  height: 100%;
}

.searchBarContainer .autoCompleteOuterContainer {
  display: flex;
  align-items: stretch;
  height: 100%;
}

.searchBarContainer :global(.vtex-styleguide-9-x-input) {
  color: black;
  border: none;
  border-radius: 0;
}

.searchBarContainer :global(.vtex-styleguide-9-x-input)::placeholder {
  color: #969696;
}

.searchBarContainer :global(.vtex-input__suffix) {
  padding: 0;
}

.searchBarContainer .suffixWrapper {
  margin-left: 5px;
  border: none;
}

.searchBarContainer .searchBarIcon--search,
.searchBarContainer .searchBarIcon--clear {
  background-color: var(--primary-blue);
  margin: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  color: #fff;
  padding: 0 16px;
}

.logoLink{
  padding: 0;
}

@media (min-width: 1367px) {
  .searchBarContainer .searchBarIcon--search::after {
    content: "Buscar";
    display: block;
    margin-left: 5px;
    font-size: 1rem;
  }
}

@media (max-width: 1500px) {
  .searchBarContainer {
    width: 20vw;
  }

  .searchBarContainer :global(.vtex-styleguide-9-x-input) {
    font-size: 1rem;
  }
}

@media (max-width: 1000px) {
  :global(.vtex-flex-layout-0-x-flexRowContent--container-header) .logoLink {
    padding: 0;
  }

  .searchBarContainer {
    width: 100%;
    padding: 0;
    margin: 20px;
  }

  .searchBarContainer :global(.vtex-styleguide-9-x-input) {
    height: 50px;
  }

  .searchBarContainer .suffixWrapper {
    margin-left: 0;
  }
}
