.flexCol--container-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flexColChild--container-imagen {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexColChild--container-menu {
  width: 100%;
}

.flexCol--header-submenu-content-menu-1 .flexColChild--header-submenu-content-menu-1:nth-child(1n){
  padding: 0 !important;
  height: auto !important;
}
