@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Rubik"), local("Rubik-Regular"),
    url("assets/fonts/rubik-regular.woff2") format("woff2"),
    url("assets/fonts/rubik-regular.woff") format("woff");
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Rubik"), local("Rubik-Medium"),
    url("assets/fonts/rubik-500.woff2") format("woff2"),
    url("assets/fonts/rubik-500.woff") format("woff");
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Rubik"), local("Rubik-Bold"),
    url("assets/fonts/rubik-700.woff2") format("woff2"),
    url("assets/fonts/rubik-700.woff") format("woff");
}

/* **************************************************************************************************************************************************** */

@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Mulish"), local("Mulish-Regular"),
    url("assets/fonts/mulish-regular.woff2") format("woff2"),
    url("assets/fonts/mulish-regular.woff") format("woff");
}

@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Mulish"), local("Mulish-Medium"),
    url("assets/fonts/mulish-500.woff2") format("woff2"),
    url("assets/fonts/mulish-500.woff") format("woff");
}

@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Mulish"), local("Mulish-Bold"),
    url("assets/fonts/mulish-700.woff2") format("woff2"),
    url("assets/fonts/mulish-700.woff2") format("woff");
}
